{% load static %}
<header class="theme-default">
    <div id="search-box">
        <div class="container">
            <form action="/" method="POST">
                <label>
                    <input type="text" placeholder="Searching for news" name="search"/>
                </label>
                <button><i class="fas fa-arrow-right"></i></button>
            </form>
        </div>
    </div>
    <div class="container">
        <div class="header-wrapper">
            <a class="header__logo" href="{% url 'index' %}"><img src="{% static 'apps/assets/images/logo1.png' %}"
                                                                  alt="Logo"/></a>
            <nav>
                <ul>
                    <li class="nav-item {% if request.path == '/' %}active{% endif %}"><a
                            href="{% url 'index' %}">Home</a></li>
                    <li class="nav-item {% if request.path == '/category' %}active{% endif %}"><a
                            href="{% url 'category' %}">Blog</a>
                    <li class="nav-item {% if request.path == '/about' %}active{% endif %}"><a href="{% url 'about' %}">About</a>
                    </li>
                    <li class="nav-item {% if request.path == '/contact' %}active{% endif %}"><a
                            href="{% url 'contact' %}">Contact</a></li>
                </ul>
            </nav>
            <!-- Social Icons -->

            <div class="header__icon-group"><a href="#" id="search"><i class="fas fa-search"></i></a>
                {% if about.social_accounts %}

                    <div class="social">
                        {% for account, url in about.social_accounts.items %}
                            <a href="{{ url }}" target="_blank"><i class="fab fa-{{ account }}"></i></a>
                        {% endfor %}
                        <a id="mobile-menu-controller" href="#"><i class="fas fa-bars"></i></a>
                    </div>
                {% endif %}
            </div>
            {% if user.is_anonymous %}
                <a class="btn btn-outline-primary" href="{% url 'register' %}">Sign up</a>
                <a class="btn btn-outline-primary" href="{% url 'login' %}">Log in</a>
                            {% else %}
                                <a class="btn btn-outline-info" href="{% url 'preview_author_posts' %}">My Blogs</a>
                                <a class="btn btn-outline-secondary" href="{% url 'create_post' %}">Add Post</a>
                                <a class="btn btn-outline-secondary" href="{% url 'profile' %}">{{ user.username }}</a>
                                <a class="btn btn-outline-primary" href="{% url 'logout' %}">Log out</a>
            {% endif %}
        </div>
    </div>
</header>
