{% load static %}
<script rel="script/javascript" src="{% static 'apps/assets/js/jquery.min.js' %}"></script>
<script rel="script/javascript" src="{% static 'apps/assets/js/slick.min.js' %}"></script>
<script rel="script/javascript" src="{% static 'apps/assets/js/plyr.min.js' %}"></script>
<script rel="script/javascript" src="{% static 'apps/assets/js/masonry.pkgd.min.js' %}"></script>
<script rel="script/javascript" src="{% static 'apps/assets/js/imagesloaded.pkgd.min.js' %}"></script>
<script rel="script/javascript" src="{% static 'apps/assets/js/vimeo.player.min.js' %}"></script>
<script rel="script/javascript" src="{% static 'apps/assets/js/main.js' %}"></script>
<script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
<script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>
<script src="https://unpkg.com/imask"></script>
<script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
    (function () {
        'use strict'

        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        const forms = document.querySelectorAll('.needs-validation');

        // Loop over them and prevent submission
        Array.prototype.slice.call(forms)
            .forEach(function (form) {
                form.addEventListener('submit', function (event) {
                    if (!form.checkValidity()) {
                        event.preventDefault()
                        event.stopPropagation()
                    }

                    form.classList.add('was-validated')
                }, false)
            })
    })()
    CKEDITOR.replace('editor1', {
        width: "100%",
    });

    function menuToggle() {
        const toggleMenu = document.querySelector(".menu");
        toggleMenu.classList.toggle("active");
    }

    {#let element = document.getElementById('phone');#}
    {#let maskOptions = {#}
    {#    mask: '+{000} (00)000-00-00',#}
    {#    lazy: false#}
    {#}#}
    {#let mask = new IMask(element, maskOptions);#}
    {##}


    const user_input = $("#user-input")
    const search_icon = $('#search-icon')
    const results = $('#replaceable-content')
    const endpoint = '/search'
    const delay_by_in_ms = 700
    let scheduled_function = false
    let csrf_token = "321";
    let ajax_call = function (endpoint, request_parameters) {
        $.post(endpoint, request_parameters)
            .done(response => {
                let posts = response['posts']
                console.log(posts)
                if (posts) {
                    let html_content = ``
                    for (i in posts) {
                        html_content += `<a class="list-group-item" href="post/${posts[i]['slug']}">
                                            <img src="{{ request.build_absolute_uri }}/media/${posts[i]['pic']}" with="50" height="50" alt="Post Image">
                                        ${posts[i]['title']}</a>`
                    }
                    results.html(html_content)
                }
            })
    }

    user_input.on('keyup', function () {
        let key_val = $(this).val()
        const request_parameters = {
            like: key_val, // value of user_input: the HTML element with ID user-input
            csrfmiddlewaretoken: csrf_token
        }
        console.log(request_parameters)
        // start animating the search icon with the CSS class
        // if scheduled_function is NOT false, cancel the execution of the function
        if (key_val === '') {
            results.addClass('d-none')
        } else {
            if (scheduled_function) {
                clearTimeout(scheduled_function)
            }
            results.removeClass('d-none')
            // setTimeout returns the ID of the function to be executed
            scheduled_function = setTimeout(ajax_call, delay_by_in_ms, endpoint, request_parameters)
        }
    })
</script>