{% load static %}
<script rel="script/javascript" src="{% static 'apps/assets/js/jquery.min.js' %}"></script>
<script rel="script/javascript" src="{% static 'apps/assets/js/slick.min.js' %}"></script>
<script rel="script/javascript" src="{% static 'apps/assets/js/plyr.min.js' %}"></script>
<script rel="script/javascript" src="{% static 'apps/assets/js/masonry.pkgd.min.js' %}"></script>
<script rel="script/javascript" src="{% static 'apps/assets/js/imagesloaded.pkgd.min.js' %}"></script>
<script rel="script/javascript" src="{% static 'apps/assets/js/vimeo.player.min.js' %}"></script>
<script rel="script/javascript" src="{% static 'apps/assets/js/main.js' %}"></script>
