{% extends 'apps/auth/base.html' %}

{% block title %}Security - {{ user.full_name }}{% endblock %}

{% block main_content %}
    <div class="container px-4">

        <nav class="nav nav-borders">
            <a class="nav-link  ms-0" href="{% url 'profile' %}">Profile</a>
            <a class="nav-link active" href="{% url 'change_password' %}">Security</a>
        </nav>
        <hr class="mt-0 mb-4">
        <!-- Account page navigation-->
        <div class="row">
            <div class="col-lg-8">
                <form method="post" action="{% url 'change_password' %}" class="needs-validation" novalidate>
                    <div class="row pb-4">
                        {% csrf_token %}
                        <!-- Account details card-->
                        <div class="card mb-4">
                            <div class="card-header">Change password</div>
                            <div class="card-body">
                                <!-- Form Group (username)-->
                                <div class="mb-3">
                                    <label class="small mb-1" for="password">Current Password</label>
                                    <input class="form-control" id="password" type="text"
                                           placeholder="Enter current password" name="password" required>
                                    <div class="invalid-feedback">
                                        Please choose a username.
                                    </div>
                                </div>
                                <!-- Form Row-->
                                <div class="row gx-3 mb-3">
                                    <!-- Form Group (first name)-->
                                    <div class="col-md-6">
                                        <label class="small mb-1" for="new_password">New Password</label>
                                        <input class="form-control" id="new_password" type="text"
                                               placeholder="Enter new password" name="new_password" required>
                                        <div class="invalid-feedback">
                                            Please provide a new password.
                                        </div>
                                    </div>
                                    <!-- Form Group (last name)-->
                                    <div class="col-md-6">
                                        <label class="small mb-1" for="confirm_password">Confirm New
                                            Password</label>
                                        <input class="form-control" id="confirm_password" type="text"
                                               placeholder="Confirm new password" name="confirm_password" required>
                                        <div class="invalid-feedback">
                                            Please Confirm your new password.
                                        </div>
                                    </div>
                                </div>
                                <!-- Save changes button-->
                                <input class="btn btn-info" type="submit" value="Save changes">
                            </div>
                        </div>
                    </div>
                </form>
            </div>

            <div class="col-lg-4">
                <!-- Two factor authentication card-->
                {% if not user.is_staff %}
                    <div class="card mb-4">
                        <div class="card-header">Verify your number</div>
                        <div class="card-body">
                            <p></p>
                            <form method="post" action="{% url 'verify_phone' %}" class="needs-validation" novalidate>

                                {% csrf_token %}
                                <!-- Form Group (username)-->
                                {% if verify == 'ok' %}
                                    <div class="row gx-3 mb-3">
                                        <!-- Form Group (first name)-->
                                        <div class="col-md-6">
                                            <input type="hidden" name="phone" value="{{ phone }}">
                                            <label class="small mb-1" for="code">Code</label>
                                            <input class="form-control" id="code" type="text"
                                                   placeholder="Enter Code" name="code" required>
                                            <div class="valid-feedback">
                                                Looks good!
                                            </div>
                                            <div class="invalid-feedback">
                                                Please provide a new password.
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Form Row-->
                                    <input class="btn btn-info" name="verify" type="submit"
                                           value="Verify">
                                {% else %}
                                    <div class="mb-3">
                                        {% if user.phone %}
                                            <input class="form-control" id="phone" name="phone" type="text"
                                                   value="{{ user.phone }}" readonly>
                                        {% else %}
                                            <input class="form-control" id="phone" name="phone" type="text"
                                                   placeholder="Enter your phone" required>
                                        {% endif %}
                                        <div class="invalid-feedback">
                                            Please provide your working email.
                                        </div>
                                    </div>
                                    <!-- Form Row-->
                                    <input class="btn btn-info" name="send" type="submit"
                                           value="Send">
                                {% endif %}
                                {% if type == 'yes' %}
                                    <script src='https://cdn.jsdelivr.net/npm/sweetalert2@11'></script>
                                    <script>
                                        Swal.fire({
                                            icon: 'success',
                                            title: 'Activated Succesfully!',
                                            {#text: '',#}
                                            {#footer: '<a href="">Why do I have this issue?</a>'#}
                                        })
                                    </script>
                                {% elif type == 'no' %}
                                    <script src='https://cdn.jsdelivr.net/npm/sweetalert2@11'></script>
                                    <script>
                                        Swal.fire({
                                            icon: 'error',
                                            title: 'Wrong Code',
                                            {#text: 'Try again and we will send you a new confirmation letter shortly. Thank you for your patience.',#}
                                            {#footer: '<a href="{% url 'login' %}">Try to log in here if you remember your old password</a>'#}
                                        })
                                    </script>
                                {% endif %}
                            </form>

                        </div>
                    </div>
                {% endif %}
                <!-- Delete account card-->
                <div class="card mb-4">
                    <div class="card-header">Delete Account</div>
                    <div class="card-body">
                        <p>Deleting your account is a permanent action and cannot be undone. If you are sure you want to
                            delete your account, select the button below.</p>
                        <button class="btn btn-danger" type="button" onclick="delacc()">I understand, delete my account
                        </button>
                        <script src='https://cdn.jsdelivr.net/npm/sweetalert2@11'></script>
                        <script>
                            function delacc() {
                                Swal.fire({
                                    title: 'Are you sure?',
                                    text: "You won't be able to revert this!",
                                    icon: 'warning',
                                    showCancelButton: true,
                                    confirmButtonColor: '#3085d6',
                                    cancelButtonColor: '#d33',
                                    confirmButtonText: 'Yes, delete it!'
                                }).then((result) => {
                                    if (result.isConfirmed) {
                                        jQuery.ajax({
                                            url: "{% url 'delete_account' %}",
                                            type: "POST",
                                            {#data: datalist,#}
                                        });
                                        Swal.fire(
                                            'Deleted!',
                                            'Your account has been deleted.',
                                            'success'
                                        )
                                    }
                                })
                            }
                        </script>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
