{% load static %}
{% load socialaccount %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login </title>

    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'apps/auth/style.css' %}">

    <!-- Boxicons CSS -->
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>

</head>
<body>
<section class="container forms">
    <div class="form">
        <div class="form-content">
            <header>Login</header>
            <form method="post" action="{% url 'login' %}">
                {% csrf_token %}
                {% if form.non_field_errors %}
                    {% for error in form.non_field_errors %}
                        <div class="alert alert-danger" style="color: rgba(255,0,0,0.88);">
                            <h5>{{ error|escape }}</h5>
                        </div>
                    {% endfor %}
                {% endif %}
                <div class="field input-field">
                    <input type="text" name="username" placeholder="Enter Your Username" class="input">
                </div>

                <div class="field input-field">
                    <input type="password" name="password" placeholder="Your Password" class="password">
                    <i class='bx bx-hide eye-icon'></i>
                </div>

                <div class="form-link">
                    <a href="{% url 'reset_password' %}" class="forgot-pass">Forgot password?</a>
                </div>

                <div class="field button-field">
                    <button>Login</button>
                </div>
            </form>

            <div class="form-link">
                <span>Don't have an account? <a href="{% url 'register' %}" class="link signup-link">Signup</a></span>
            </div>
        </div>
        <div class="line"></div>
        <form action="{% provider_login_url 'github' %}" target="_blank" method="post">
            {% csrf_token %}
            <div class="media-options">
                <a class="field google">
                    <button style="background-color: #1e1e2d" type="submit"><i class='bx bxl-github facebook-icon'></i>
                        Continue with GitHub
                    </button>
                </a>
            </div>
        </form>
        <form action="{% provider_login_url 'google' %}" target="_blank" method="post">
            {% csrf_token %}
            <div class="media-options">
                <a class="field google">
                    <button style="background-color: #a31d00" type="submit"><i class='bx bxl-google facebook-icon'></i>
                        Continue with Google
                    </button>
                </a>
            </div>
        </form>

    </div>
</section>

<!-- JavaScript -->
<script src="{% static 'apps/auth/script.js' %}"></script>
</body>
</html>