{% extends 'apps/auth/base.html' %}

{% block title %}Profile - {{ user.full_name }}{% endblock %}

{% block main_content %}
    <div class="container px-4 mt-4">
            <nav class="nav nav-borders">
            <a class="nav-link  ms-0" href="{% url 'profile' %}">Profile</a>
            <a class="nav-link  ms-0" href="{% url 'change_password' %}">Security</a>
        </nav>
        <hr class="mt-0 mb-4">
        <form method="post" action="{% url 'profile' %}" enctype="multipart/form-data" class="needs-validation"
              novalidate>

            <div class="row">
                {% csrf_token %}
                <div class="col-xl-4">
                    <!-- Profile picture card-->
                    <div class="card mb-4 mb-xl-0">
                        <div class="card-header">Profile Picture</div>
                        <div class="card-body text-center">
                            <!-- Profile picture image-->
                            {% if user.avatar %}
                            <img class="img-account-profile rounded-circle mb-2" src="{{ user.avatar.url }}" alt=""
                                 width="150" height="150">
                            {% endif %}
                            <!-- Profile picture help block-->
                            <div class="small font-italic text-muted mb-4">JPG or PNG no larger than 5 MB</div>
                            <!-- Profile picture upload button-->
                            <input type="file" name="avatar" class="small mb-2" accept="image/png, image/jpeg">
                        </div>
                    </div>
                        <!-- Profile picture card-->
{#                        <div class="card m-2">#}
{#                            <div class="card-header">Profile Picture</div>#}
{#                            <div class="card-body text-center">#}
{#                                <a class="btn btn-secondary" href="{% url 'create_post' %}">Add Post</a>#}
{#                                <a class="btn btn-secondary m-1" href="{% url 'preview_author_posts' %}">My Posts</a>#}
{#                                <a class="btn btn-danger m-1" href="{% url 'reset_password' %}">Reset Password</a>#}
{##}
{#                            </div>#}
{#                    </div>#}
                </div>

                <div class="col-xl-8">
                    <!-- Account details card-->
                    <div class="card mb-4">
                        <div class="card-header">Account Details</div>
                        <div class="card-body">
                            <div class="row gx-3 mb-3">
                                <!-- Form Group (first name)-->
                                <div class="col-md-6">
                                    <label class="small mb-1" for="inputFirstName">First name</label>
                                    <input class="form-control" id="inputFirstName" type="text"
                                           placeholder="Enter your first name" name="first_name"
                                           value="{{ user.first_name }}" required>
                                    <div class="invalid-feedback">
                                        Please provide a first name.
                                    </div>
                                </div>
                                <!-- Form Group (last name)-->
                                <div class="col-md-6">
                                    <label class="small mb-1" for="inputLastName">Last name</label>
                                    <input class="form-control" id="inputLastName" type="text"
                                           placeholder="Enter your last name" name="last_name"
                                           value="{{ user.last_name }}" required>
                                    <div class="invalid-feedback">
                                        Please provide a last name.
                                    </div>
                                </div>
                            </div>
                            <!-- Form Row        -->
                            <div class="row gx-3 mb-3">
                                <!-- Form Group (organization name)-->
                                <div class="col-md-6">
                                    <label class="small mb-1" for="inputEmail">Email address</label>
                                    <input class="form-control" id="inputEmail" type="email"
                                           placeholder="Enter your email address" name="email" value="{{ user.email }}"
                                           required>

                                    <div class="invalid-feedback">
                                        Please provide a valid email address.
                                    </div>
                                </div>
                                <!-- Form Group (location)-->
                                <div class="col-md-6">
                                    <label class="small mb-1" for="phone">Phone number {% if not user.is_staff %}<span class="badge badge-danger">Not verified</span>{% endif %}</label>
                                    <input class="form-control" id="phone" type="tel"
                                           placeholder="Enter your phone number" name="phone" value="{{ user.phone }}"
                                           required>

                                    <div class="invalid-feedback">
                                        Please provide a phone number.
                                    </div>
                                {% if not user.is_staff %}
                                    <a href="{% url 'change_password' %}" class="btn btn-warning mt-2">Verify</a>
                                {% endif %}
                                </div>
                            </div>
                            <div class="mb-3">
                                <label for="inputBio">Biography</label>
                                <textarea class="form-control" id="inputBio" style="height: 100px"
                                          placeholder="Enter your Bio" name="bio" required> {{ user.bio }}</textarea>
                            </div>
                            <!-- Save changes button-->
                            <input class="btn btn-info" type="submit" value="Save changes">
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
