{% extends 'apps/auth/base.html' %}

{% block title %}Register Page{% endblock %}

{% block main_content %}

    <section class="signup">
        <div class="container">
            <div class="signup-content">
                <div class="signup-form">
                    <h2 class="form-title">Sign up</h2>
                    {% if forms.errors %}
                        {% for field in forms %}
                            {% if field.errors %}
                                <div style="color: red;">
                                    <h3> {{ field.label }} - {{ field.errors|striptags }}</h3>
                                </div>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                    <form method="POST" action="{% url 'register' %}" class="register-form" id="register-form">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="name"><i class="zmdi zmdi-account material-icons-name"></i></label>
                            <input type="text" name="username" id="name" placeholder="Username"/>
                        </div>
                        <div class="form-group">
                            <label for="email"><i class="zmdi zmdi-email"></i></label>
                            <input type="email" name="email" id="email" placeholder="Your Email"/>
                        </div>
                        <div class="form-group">
                            <label for="phone"><i class="zmdi zmdi-phone"></i></label>
                            <input type="text" name="phone" id="phone" placeholder="Your Phone"/>
                        </div>
                        <div class="form-group">
                            <label for="pass"><i class="zmdi zmdi-lock"></i></label>
                            <input type="password" name="password" id="pass" placeholder="Password"/>
                        </div>
                        <div class="form-group">
                            <label for="re-pass"><i class="zmdi zmdi-lock-outline"></i></label>
                            <input type="password" name="confirm_password" id="re_pass"
                                   placeholder="Repeat your password"/>
                        </div>
                        <div class="form-group">
                            <input type="checkbox" name="agree-term" id="agree-term" class="agree-term"/>
                            <label for="agree-term" class="label-agree-term"><span><span></span></span>I agree all
                                statements in <a href="#" class="term-service">Terms of service</a></label>
                        </div>
                        <div class="form-group form-button">
                            <input type="submit" name="signup" id="signup" class="form-submit" value="Register"/>
                        </div>
                    </form>
                </div>
                <div class="signup-image">
                    <figure>
                        <img src="https://colorlib.com/etc/regform/colorlib-regform-7/images/signup-image.jpg"
                             alt="sing up image">
                    </figure>
                    <a href="{% url 'login' %}" class="signup-image-link">I am already member</a>
                </div>
            </div>
        </div>
    </section>

{% endblock %}