{% extends 'apps/auth/base.html' %}

{% block title %}Template{% endblock %}

{% block main_content %}

    <section class="signup">
        <div class="container">
            <div class="signup-content">
                <div class="signup-form">
                    <h1 style="font-size: xxx-large; ">Page Not Found</h1>
                    <a href="{% url 'index' %}">
                        <button type="button" class="btn btn-warning" style="color: #ffffff"> Main page</button>
                    </a>
                </div>
            </div>
        </div>
    </section>

{% endblock %}