{% extends 'apps/parts/base.html' %}
{% load static %}

{% block main_content %}
    <div class="container">
        <div class="blog-with-sidebar">
            <div class="row">
                {% include 'apps/parts/sidebar.html' %}
                <div class="col-12 col-md-7 col-lg-8 order-md-1">
                    <div class="row">
                        <div class="col-sm-6 col-md-12">
                            <div class="post-card -full -center">
                                <a class="card__cover" href="{% url 'post_form_detail' main_post.slug %}">
                                    <img src="{{ main_post.pic.url }}"
                                         alt="{{ main_post.content|safe|striptags|truncatechars:100 }}"/>
                                </a>
                                <div class="card__content">
                                    <h5 class="card__content-category">{{ main_post.category.first.name }}</h5>
                                    <a class="card__content-title"
                                       href="{% url 'post_form_detail' main_post.slug %}">{{ main_post.title }}</a>
                                    <div class="card__content-info">
                                        <!-- Content Author -->
                                        <div class="info__time info__author">
                                            <i class="far fa-user"></i>
                                            <p>{{ main_post.author }}</p>
                                        </div>
                                        <!-- Content Time and Date -->
                                        <div class="info__time">
                                            <i class="far fa-clock"></i>
                                            <p>{{ main_post.created_at|date:'D m, Y' }}</p>
                                        </div>

                                        <div class="info__comment">
                                            <i class="far fa-comment"></i>
                                            <p>{{ main_post.comment_count }}</p>
                                        </div>
                                    </div>
                                    <p class="card__content-description">{{ main_post.content|safe|striptags|truncatechars:100 }}</p>
                                    <a class="more-btn" href="{% url 'post_form_detail' main_post.slug %}">Read
                                        more </a>
                                </div>
                            </div>
                        </div>
                        <div class="news-block__content -default">
                            <div class="news-block__content__slide">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="row">
                                            {% for post in posts %}
                                                <div class="col-12 col-sm-6">
                                                    <div class="post-card -small">
                                                        <a class="card__cover"
                                                           href="{% url 'post_form_detail' post.slug %}">
                                                            <img src="{{ post.pic.url }}"
                                                                 alt="{{ posts.content|safe|striptags|truncatechars:100 }}"/>
                                                        </a>
                                                        <!-- Post content -->
                                                        <div class="card__content">
                                                            <h5 class="card__content-category">
                                                                {{ post.category.first.name }}
                                                            </h5>
                                                            <a class="card__content-title"
                                                               href="{% url 'post_form_detail' post.slug %}">
                                                                {{ post.title }}
                                                            </a>
                                                            <p class="card__content-description">{{ post.content|safe|striptags|truncatechars:100 }}</p>
                                                            <div class="card__content-info">
                                                                <div class="info__time">
                                                                    <i class="far fa-clock"></i>
                                                                    <p>{{ post.created_at|date:'D d, Y' }}</p>
                                                                </div>
                                                                <div class="info__comment">
                                                                    <i class="far fa-comment"></i>
                                                                    <p>{{ post.comment_count }}</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}